/* GENERAL STYLES */
@import url("[https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap](https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap)");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1a1a1a;
  color: #e0e0e0;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #b0b0b0;
}

/* TRANSITION EFFECTS */
a,
.action-button {
  transition: all 300ms ease;
}

/* DESKTOP NAVIGATION */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: #e0e0e0;
  text-decoration: none;
  text-decoration-color: transparent;
}

a:hover {
  color: #888;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #555;
}

.logo {
  font-size: 2rem;
  color: #e0e0e0;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER/MOBILE MENU */
#mobile-navigation {
  display: none;
}

.mobile-menu-container {
  position: relative;
  display: inline-block;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.menu-icon span {
  width: 100%;
  height: 2px;
  background-color: #e0e0e0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mobile-menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.mobile-menu-links.open {
  max-height: 400px;
  opacity: 1;
  animation: fadeIn 0.3s ease-in-out;
}

.mobile-menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #e0e0e0;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.mobile-menu-links li {
  list-style: none;
}

.menu-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.menu-icon span:first-child {
  transform: none;
}

.menu-icon span:first-child {
  opacity: 1;
}

.menu-icon span:first-child {
  transform: none;
}

/* SECTIONS LAYOUT */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */
#profile-section {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.profile-picture-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* New class for profile image border-radius */
.profile-image {
  border-radius: 50%;
}


.profile-text-content {
  align-self: center;
  text-align: center;
}

.profile-text-content p {
  font-weight: 600;
}

.greeting-text {
  text-align: center;
  margin-bottom: 10px;
  color: #b0b0b0;
}

.role-text {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #b0b0b0;
}

.title {
  font-size: 3rem;
  margin-bottom: 5px;
  text-align: center;
  color: #e0e0e0;
}

#social-links-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */
.utility-icon {
  cursor: pointer;
  height: 2rem;
  filter: invert(1);
}

.no-invert {
  filter: none;
}

/* SOCIAL ICONS HOVER EFFECT */
#social-links-container img.utility-icon:hover {
  filter: invert(70%) sepia(10%) saturate(10%) hue-rotate(300deg) brightness(110%) contrast(80%);
  transform: scale(1.1);
  transition: all 300ms ease;
}

/* BUTTONS */
.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.action-button {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.primary-button,
.secondary-button {
  border: #555 0.1rem solid;
}

.primary-button:hover,
.secondary-button:hover {
  cursor: pointer;
}

.primary-button,
.secondary-button:hover {
  background: #555;
  color: #e0e0e0;
  border: none;
}

.primary-button {
  background: #444;
  color: #e0e0e0;
  border: none;
}

.primary-button:hover {
  background: #777;
  color: #1a1a1a;
  border: #e0e0e0 0.1rem solid;
}

/* Fix for Resume button text color on mobile */
.secondary-button {
  background: none;
  color: #e0e0e0;
}

.secondary-button:hover {
  border: #e0e0e0 0.1rem solid;
  color: #e0e0e0;
}

.button-group {
  gap: 1rem;
}

/* ABOUT SECTION */
#about-section {
  position: relative;
}

.about-info-cards {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-wrapper {
  justify-content: center;
  flex-direction: column;
}

.about-info-cards,
.about-details-wrapper {
  display: flex;
}

.about-section-image {
  border-radius: 2rem;
}

.scroll-arrow-icon {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.info-card {
  padding: 1.5rem;
  flex: 1;
  background: #2a2a2a;
  border-radius: 2rem;
  border: #555 0.1rem solid;
  border-color: #555;
  text-align: center;
  color: #e0e0e0;
}

.info-card h3 {
  color: #e0e0e0;
}

.info-card p {
  color: #b0b0b0;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.profile-picture-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* SKILLS SECTION */
#skills-section {
  position: relative;
}

.section-subtitle {
  color: #b0b0b0;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

#skills-container {
  margin-top: 7px;
  margin-bottom: 10px;
}

.skills-details-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skill-items-grid {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

.info-card article h3 {
  font-size: 1rem;
}

article .utility-icon {
  cursor: default;
}

/* INTERNSHIPS, PROJECTS, CERTIFICATIONS SECTIONS */
#internships-section,
#projects-section,
#certifications-section {
  position: relative;
}

.card-background {
  border-color: #555;
  background: #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-thumbnail {
  border-radius: 1rem;
  border: 1.5px solid #555;
  width: 90%;
  height: 90%;
}

.project-card-title {
  margin: 1rem;
  color: #e0e0e0;
}

.project-button {
  color: #e0e0e0;
  border-color: #555;
}

.internship-description {
    padding: 0 10px;
    margin-top: 0.5rem;
}

.internship-description ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #b0b0b0;
    width: 100%;
    box-sizing: border-box;
}

.internship-description li {
    text-align: justify;
    width: 100%;
    /* Add some bottom margin for spacing between list items */
    margin-bottom: 8px; /* Adjust this value as needed */
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
}

.internship-description p {
    text-align: left;
    color: #b0b0b0;
    font-size: 0.95rem;
    line-height: 1.4;
}

.internship-date-location {
    font-weight: 600;
    color: #e0e0e0;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.internship-about {
    font-weight: 400;
    color: #a2a2a2;
    font-size: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.7rem;
    text-align: center;
}

/* Updated styles for clickable company names (grey shades) */
.company-link {
    color: #b0b0b0; /* A medium grey for the links */
    text-decoration: none; /* Remove default underline */
    cursor: pointer;
    transition: all 300ms ease;
}

.company-link:hover {
    color: #e0e0e0; /* Lighter grey on hover */
    text-decoration: underline; /* Add underline on hover */
    text-underline-offset: 0.2rem;
}

/* New styles for Certification Thumbnails */
.certification-thumbnail {
  border-radius: 1rem;
  border: 1.5px solid #555;
  width: 90%;
  height: 90%;
  transition: filter 0.3s ease-in-out; /* Smooth transition for the filter */
  cursor: pointer; /* Indicate it's clickable */
}

.certification-thumbnail:hover {
  filter: grayscale(100%); /* Turns the image black and white */
}


/* CONTACT SECTION */
#contact-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-details-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: #555 0.1rem solid;
  border-color: #555;
  background: #2a2a2a;
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-item p {
  font-size: larger;
  color: #e0e0e0;
}

.contact-utility-icon {
  cursor: default;
}

.email-utility-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */
footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
  color: #b0b0b0;
}

/* UNIFORM END-TO-END FORMATTING */
.text-container {
  text-align: justify;
  width: 100%;
}

.text-container p {
  font-size: 1.2rem; /* Adjust this value as needed (e.g., 1.2rem, 16px, etc.) */
}

.info-card .button-group p {
  text-align: justify;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
  #profile-section {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-info-cards {
    flex-wrap: wrap;
  }
  #contact-section,
  #projects-section,
  #internships-section,
  #certifications-section {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #main-navigation {
    display: none;
  }
  #mobile-navigation {
    display: flex;
  }
  #skills-section,
  .skills-details-wrapper,
  #internships-section,
  #certifications-section {
    margin-top: 2rem;
  }
  #profile-section,
  .section-container {
    display: block;
  }
  .scroll-arrow-icon {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .profile-picture-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-info-cards {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact-section,
  footer {
    height: 40vh;
  }
  #profile-section {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-info-cards,
  .button-group {
    flex-wrap: wrap;
  }
  .contact-details-wrapper {
    flex-direction: column;
  }
  .contact-item {
    margin: 0;
  }
  .contact-item p,
  .nav-links li a {
    font-size: 1rem;
  }
  .section-subtitle {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .profile-picture-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .role-text {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }

  /* Rules for vertical stacking of cards below 600px */
  #projects-section .about-info-cards,
  #certifications-section .about-info-cards,
  #internships-section .about-info-cards,
  #skills-section .about-info-cards {
    flex-direction: column;
    align-items: center;
  }
}